<div class="widgets-holder">
    <div class="row">
        <div class="masonary">
            <div class="col-md-12">
                <div class="widget">
                    <div class="loader">
                        <div class="cssload-thecube"> <div class="cssload-cube cssload-c1"></div> <div class="cssload-cube cssload-c2"></div> <div class="cssload-cube cssload-c4"></div> <div class="cssload-cube cssload-c3"></div></div>                                    
                    </div>
                    <div class="widget-title">
                        <h2>Dynamic Calendar</h2>
                        <span class="color2">For Last 30 Days</span>
                        <div class="opts">
                            <a class="refresh" href="#" title=""><i class="fa fa-refresh"></i></a>
                            <a class="expend" href="#" title=""><i class="fa fa-arrows-alt"></i></a>
                            <a class="removethis" href="#" title=""><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div id='calendar'></div>                                
                </div>
            </div>
        </div>
    </div>
</div>
<!--<h1>Workout Calendar</h1>
<table>
  <thead>
    <tr>
      <td>Monday</td>
      <td>Tuesday</td>
      <td>Wednesday</td>
      <td>Thursday</td>
      <td>Friday</td>
      <td>Saturday</td>
      <td>Sunday</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let day of dayList">
        <div class="item" *ngFor="let workout of workoutList | filter:day.name" >
          <span>{{workout.name}}</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>-->
