a.active {
  color: #20a2d6; }

body .content-area {
  padding: 0; }

body .widgets-holder .widget-title {
  height: 115px; }

body .widgets-holder .row > .masonary > div {
  padding: 0; }

body .widget .status .status-text {
  text-align: center; }

body header a {
  float: right; }

body header a.header-name {
  float: none; }

body a:focus {
  text-decoration: none; }

body .dominence-layout a:hover {
  cursor: pointer;
  text-decoration: none; }

body .login-box input {
  margin-bottom: 20px; }

body .login-page {
  background-size: cover;
  background-repeat: no-repeat; }

body .header-exts {
  margin-top: -16px; }

body .widget .projects {
  overflow: visible; }

body button.add-workout {
  float: right; }

body table tr td.del {
  text-align: right;
  padding-right: 0 !important; }
  body table tr td.del button {
    width: 80px;
    margin-bottom: 5px; }

body .page-top-nav .col-md-4 {
  padding: 0; }
  body .page-top-nav .col-md-4 .widget {
    margin-bottom: 0;
    border: none; }
    body .page-top-nav .col-md-4 .widget .status {
      float: none; }
      body .page-top-nav .col-md-4 .widget .status.active .status-text strong {
        padding-bottom: 15px;
        border-bottom: 3px solid #20a2d6; }
    body .page-top-nav .col-md-4 .widget .status-text strong {
      padding-bottom: 15px;
      border-bottom: 3px solid #fff;
      display: inline;
      width: auto;
      float: none; }
    body .page-top-nav .col-md-4 .widget:hover {
      cursor: pointer; }
      body .page-top-nav .col-md-4 .widget:hover .status-text strong {
        padding-bottom: 15px;
        border-bottom: 3px solid #20a2d6; }

body .workout-addition {
  padding-bottom: 30px; }
  body .workout-addition .row {
    margin-bottom: 20px; }
    body .workout-addition .row label {
      color: #20a2d6; }
    body .workout-addition .row input {
      margin-bottom: 15px; }
    body .workout-addition .row select, body .workout-addition .row option {
      width: 100%;
      padding: 10px 20px;
      height: 40px;
      border: 1px solid #ececec; }
    body .workout-addition .row select.multiple {
      height: auto; }
    body .workout-addition .row input.invalid {
      border-color: red; }
  body .workout-addition button.add-workout {
    float: none;
    margin-top: 24px; }
  body .workout-addition .day-list {
    display: inline-block;
    padding-right: 10px; }
    body .workout-addition .day-list label, body .workout-addition .day-list input {
      display: block;
      width: auto;
      float: none;
      margin: 0 auto;
      color: #585858; }
    body .workout-addition .day-list input[type="checkbox"] {
      display: none; }
    body .workout-addition .day-list input[type="checkbox"] + label span {
      padding: 15px 10px;
      border-radius: 2px;
      display: inline-block;
      width: auto;
      border: 1px solid #20a2d6; }
    body .workout-addition .day-list input[type="checkbox"]:checked + label span {
      background: #20a2d6;
      color: #fff; }
    body .workout-addition .day-list input[type="checkbox"] + label span:hover {
      cursor: pointer;
      background: #20a2d6;
      color: #fff; }

buttonhover {
  cursor: pointer; }
